<h1 class="text-center">Welcome {{{title}}}</h1>
<div class="card text-center">
  <div class="card-header">
    Add Daily Task
  </div>
  <div class="card-body">
    <h5 class="card-title">Task Title</h5>
    <p class="card-text">Save notes and remember your task.</p>
    <a href="#" class="btn btn-primary">Add Task</a>
  </div>
</div>
